/*----FOOTER----*/

footer{
    margin: 20px;
    text-align: center;
    user-select: none;
    div{
        h2{
            color: goldenrod;
        }
        h3{
            color: navy;
        }
    }
}